:root {
  --grey-shadow: 2px 2px 4px rgb(154, 154, 152);
  --link-decoration: none;
  --primary-color: white;
  --secondary-color: #272142;
}
body {
  font-family: "Nunito", sans-serif;
}

h1 {
  font-size: 72px;
  text-align: center;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 40px 0;
}
h3 {
  font-size: 45px;
  font-weight: bold;
}
.brand-name {
  background: url("../images/back.jpg") no-repeat;
  background-size: 100% 100%;
  color: var(--primary-color);
  padding-top: 43px;
  padding-bottom: 50px;
  text-shadow: var(--grey-shadow);
}
.brand-name h1 {
  font-style: italic;
  font-weight: 900px;
}
.brand-name p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.about-us {
  color: var(--secondary-color);
}
.about-us h1 {
  font-weight: 700;
  margin-top: 40px;
}

.tour-names {
  text-decoration: var(--link-decoration);
  color: var(--secondary-color);
}

.navbar-nav {
  margin-left: auto;
}
.about-info {
  margin: 50px 200px;
}
footer {
  background: black;
  padding: 20px 0;
}
.icons {
  text-align: center;
  letter-spacing: 10px;
}
.icons a {
  color: var(--primary-color);
}
.copyright {
  text-align: right;
  color: var(--primary-color);
}
a:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}
.about-contacts {
  font-weight: bold;
}
.about-icons a {
  letter-spacing: 15px;
  color: var(--secondary-color);
}
@media (max-width: 600px) {
  .brand-name {
    padding: 10px 3px;
  }
  .brand-name h1 {
    font-size: 30px;
  }
  .brand-name p {
    font-size: 15px;
  }
  h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
  }
}
@media (max-width: 1024px) {
  footer {
    padding: 10px 0;
  }
  .icons {
    text-align: right;
  }
  .about-us h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  .about-info {
    margin: 0;
  }
  .about-info h3 {
    font-size: 34px;
    margin-top: 15px;
  }
}
